.banner{
    height: 720px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 40px 30px 0px 30px;
    
}

.banner,
.banner-details{
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;

}

.banner,
.banner-image{
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
}



.circle{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.banner-numbering .circle:hover{
    background-color: #587585;
    border: none;
    border-color: white;
}

.banner-numbering .circle:hover p{
    color: white;
}

.line{
    width: 4px;
    background-color: white;
    flex-grow: 1;
}

.circle p{
    align-items: center;
    justify-content: center;

    font-family: 'Playfair Display', sans-serif;
    font-size: 42pt;

    -webkit-text-stroke: 1px white;
    color: transparent;

    margin: 0;
    padding: 0;

    position: relative;
    top:-10px;
}

.title-banner{
    font-size: 45pt;
    font-family: 'Product Sans', sans-serif;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}

.sub-title{
    font-size: 20pt;
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    color: white;

    margin: 0;
    padding: 0;

    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-details-container{
    margin-left: 150px;
}

.banner-details{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    background: linear-gradient(48deg, #A8C6E5, #5988B2);
    padding-right: 50px;
}

.banner-image{
    width: 900px;
    height: 100%;
    object-fit: cover;
}

.services-list li{
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: white;
}

.banner-description{
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: white;
}

.banner-carousel-items.carousel-item.active{
    margin-right: 0;
}

.carousel-promotion-frame.carousel.slide.carousel-fade{
    width: 100%;
}

.carousel-promotion-inner.carousel-inner{
    display: flex;
    position: relative;
    align-items: center;
}

.banner-carousel-items.carousel-item-next{
    width: 100% !important;
}

.banner-numbering{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 75px;
    z-index: 2;
}

.banner-numbering button{
    background-color: transparent;
    border: none;
}

.active-circle{
    background-color: #3185FF !important;
    border: none !important;
}

.active-numbering{
    color: white !important;
    -webkit-text-stroke: 0 !important;
}

@media (max-width: 768px){
    .carousel-inner {
        width: 100%;
        padding: 0 10px; /* 10px left/right */
        box-sizing: border-box; /* Ensures padding is included in width */
      }

    .banner{
        height: max-content;
        width: 100%;
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    
        padding: 0px 0px 0px 0px;
        
    }
    
    .banner,
    .banner-details{
        border-radius: 0px 0px 17px 17px;
    
    }
    
    .banner,
    .banner-image{
        border-radius: 17px 17px 0px 0px;
    }

    
    .banner-image{
        --width: 100%;
        width: var(--width);
        max-height: var(--width);
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .banner-carousel-items{
        
        margin-right: 0 !important;
        
    }
    
    .banner-details-container{
        width: 100%;
        padding: 0 10px; /* 10px left/right */
        margin-left: 10px;
        box-sizing: border-box; /* Ensures padding is included in width */
    }

    .banner-details{
        display: flex;
        height: max-content;
        flex: 1;
        height: 100%;
        align-items: center;
        background: linear-gradient(48deg, #A8C6E5, #5988B2);
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .title-banner{
        font-size: 24pt;
        font-family: 'Product Sans', sans-serif;
        font-weight: 900;
        color: white;
        margin: 0;
        padding: 0;
    }
    
    .sub-title{
        font-size: 16pt;
        font-family: 'Product Sans', sans-serif;
        font-weight: 700;
        color: white;
    
        margin: 0;
        padding: 0;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .services-list li{
        font-family: 'Product Sans', sans-serif;
        font-weight: 400;
        font-size: 14pt;
        color: white;
    }

    .banner-numbering{
        --width: calc(100% - 60px);

        display: flex;
        flex-direction: row;
        height: max-content;
        width: var(--width);
        justify-content: space-between;
        align-items: center;

        position: absolute;

        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        bottom: 20px;
        z-index: 2;
    }

    .banner-numbering button{
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    .line{
        width: 0px;
        height: 2px;
        background-color: white;
        flex-grow: 1;
    }
    
    .circle p{
        align-items: center;
        justify-content: center;
    
        font-family: 'Playfair Display', sans-serif;
        font-size: 24pt;
    
        -webkit-text-stroke: 1px white;
        color: transparent;
    
        margin: 0;
        padding: 0;
    
        position: relative;
        top:-5px;
    }

    .circle{

        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid;
        border-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }
}

@media(min-width: 1800px){
    .carousel-promotion-frame{
        width: 100%;
    }
}