.cta-title-top,
.cta-title-middle,
.cta-title-bottom{
    font-family: 'Product Sans', sans-serif;
    font-size: 28pt;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #0B1D57;
    text-align: center;
    z-index: 5;
}

.cta-title-middle{
    color: #3185FF;
}

.cta-ornament-top{
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 1;
    /* background-color: lightslategray; */
}

.cta-ornament-bottom img,
.cta-ornament-top img{
    /* background-color: lightcoral; */
    height: 500px;
}

.cta-ornament-bottom{
    position: absolute;
    bottom: 50px;
    right: 0px;
    z-index: 1;
}

.cta-title-frame{
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 775px;
    /* max-height: 1000px; */
}

.cta-title-container{
    display: flex;
    flex-direction: column;
    /* background-color: lightpink; */
    width: 500px;
    align-items: center;
    margin: 0;
    margin-top: 120px;
}

.cta-description{
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    /* background-color: lightblue; */
    color: #0B1D57;
    width: 600px;
    line-height: 30px;
    text-align: justify;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    z-index: 5;
}

.cta-button-container{
    display: flex;
    height: 100px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 120px 0px;
}

.cta-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E4E7EB;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 35px;
    
    z-index: 5;
    transition: all 0.2s ease-in-out;
}

.cta-button:hover{
    background-color: #3185FF;    
    padding: 20px 40px 20px 40px;
    border-radius: 45px;
}

.cta-button:active{
    padding: 10px 30px 10px 30px;
    border-radius: 35px;
    transition: all 0.05s ease-in-out;
}

.cta-button:hover p{
    color: white;    
}

.cta-button img{
    height: 46px;
}

.cta-button p{
    font-family: 'Product Sans', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    margin: 0;
    margin-left: 20px;
    color: #3185FF;
}

@media (max-width: 768px){
    .cta-ornament-top{
        display: none;
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 1;
        /* background-color: lightslategray; */
        
    }
    
    .cta-ornament-bottom{
        display: none;
        position: absolute;
        bottom: 50px;
        right: 0px;
        z-index: 1;
    }

    .cta-title-top,
    .cta-title-middle,
    .cta-title-bottom{
        font-family: 'Product Sans', sans-serif;
        font-size: 18pt;
        font-weight: 700;
        margin: 0;
        padding: 0;
        /* color: #0B1D57; */
        text-align: center;
        z-index: 5;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .cta-description{
        font-family: 'Product Sans', sans-serif;
        font-weight: 400;
        /* background-color: lightblue; */
        color: #0B1D57;

        display: flex;
        
        width: 100%;
        padding: 0 20px !important;
        box-sizing: border-box;

        line-height: 30px;
        text-align: justify;
        font-size: 14pt;
        margin: 0;
        padding: 0;
        margin-top: 60px;
        z-index: 5;


    }

    .cta-title-frame{
        /* background-color: lightseagreen; */
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        min-height: initial;
        height: max-content;
        /* max-height: 1000px; */
    }
    
    .cta-title-container{
        display: flex;
        flex-direction: column;
        /* background-color: lightpink; */
        width: 100%;
        max-width: 500px;
        align-items: center;
        margin: 0;
        margin-top: 20px;
    }

    .cta-button p{
        font-family: 'Product Sans', sans-serif;
        font-size: 14pt;
        /* font-weight: 700; */
        margin: 0;
        margin-left: 20px;
        /* color: #3185FF; */
    }    

    .cta-button img{
        height: 36px;
    }
    

    .cta-button-container{
        display: flex;
        height: 100px;
        width: 300px;
        justify-content: center;
        align-items: center;
        margin: 30px 0px 30px 0px;
    }

    .cta-line-frame{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .cta-line{
        display: flex;
        width: 100%;
        height: 3px;
        background-color: #3185FF;
    }

    .cta-line-rounded-left{
        display: flex;
        width: 70%;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: #0B1D57;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .cta-line-frame-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
    }

    .cta-line-bottom{
        display: flex;
        width: 100%;
        height: 3px;
        background-color: #3185FF;
        margin-bottom: 20px;
    }
    
    .cta-line-rounded-right-bottom{
        display: flex;
        width: 70%;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: #0B1D57;
        border-radius: 50px;
        
    }
}