body{
    width: 100%;

    margin: 0px;
    padding: 130px 0px 130px 0px;
    background-color: #F1F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    body{
        width: 100%;
    
        margin: 0px;
        padding: 140px 0px 0px 0px;
        background-color: #F1F8FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

